Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Update deploy workflow
  .github/workflows/deploy.yml
Due: none

Update README.md
  README.md
Due: none

Change Napari -> napari in README and comments
  README.md
  _config.yml
Due: none

Clean up makefile and move `make dev` to package.json script
  Makefile
  README.md
  package.json
Due: none

Minor text changes
  README.md
Due: none

Replace Makefile with npm scripts
  .github/workflows/deploy.yml
  Makefile
  package.json
Due: none

Tooling for theme development + live reloading (#116)
  .eslintignore
  .eslintrc.yml
  .github/workflows/deploy.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .nvmrc
  .prettierignore
  .prettierrc.yml
  .stylelintrc.yml
  Makefile
  README.md
  _config.yml
  dev-server.js
  gulpfile.js
  package.json
  postcss.config.js
  theme/README.md
  theme/js/main.js
  theme/napari/layout.html
  theme/napari/page.html
  theme/napari/theme.conf
  theme/scss/main.scss
  yarn.lock
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Fix typo in dev package script
  package.json
Due: none

Fix typo in dev package script (#118)
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update dependencies (#119)
  package.json
  yarn.lock
Due: none

deploy: a99aa85c6873468fa88a7069d346ff9ebe54c347
  _images/image_30_0.png
  _images/magicgui_12_0.png
  _images/magicgui_15_0.png
  _images/magicgui_18_0.png
  _images/magicgui_1_0.png
  _images/magicgui_5_0.png
  _images/magicgui_9_0.png
  _images/viewer_38_0.png
  _modules/magicgui/_magicgui.html
  _sources/guides/stable/magicgui.ipynb
  api/stable/napari.plugins.html
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/vectors.html
  tutorials/fundamentals/viewer.html
Due: none

add 0.4.7 release
  release/release_0_4_7.md
Due: none

still build docs when tests fail
  .github/workflows/deploy.yml
Due: none

update release notes to include breaking changes
  release/release_0_4_6.md
  release/release_0_4_7.md
Due: none

deploy: ca3de802ab0f8edf59dd177a1e1c7a6446b2537f
  _images/index_6_0.png
  _images/labels_6_0.png
  _images/magicgui_12_0.png
  _images/magicgui_15_0.png
  _images/magicgui_18_0.png
  _images/magicgui_1_0.png
  _images/magicgui_5_0.png
  _images/magicgui_9_0.png
  _images/points_24_0.png
  _images/points_29_0.png
  _images/points_6_0.png
  _images/shapes_6_0.png
  _images/surface_6_0.png
  _images/template-page_5_0.png
  _images/vectors_6_0.png
  _images/viewer_10_0.png
  _images/viewer_29_0.png
  _images/viewer_38_0.png
  _images/viewer_47_0.png
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_4_6.md
  _sources/release/release_0_4_7.md
  release/release_0_4_6.html
  release/release_0_4_7.html
  reports/shapes.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/vectors.html
  tutorials/fundamentals/viewer.html
Due: none

Assets for app bar
  theme/napari/static/menu.svg
  theme/napari/static/napari.png
  theme/napari/static/search.svg
Due: yarn prettier:fix

Mixin for layout breakpoints
  theme/scss/_breakpoints.scss
Due: yarn prettier:fix, yarn lint:scss --fix

CSS vars for container dimensions
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Implement app bar component
  theme/js/main.js
  theme/napari/app-bar.html
  theme/napari/page.html
  theme/scss/_app-bar.scss
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Add files to ignore lists
  _config.yml
  dev-server.js
Due: none

Add napari favicon
  theme/napari/layout.html
  theme/napari/static/favicon.ico
Due: yarn prettier:fix

Fix SCSS variable typo
  theme/scss/_breakpoints.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Minor SCSS changes for consistency
  theme/scss/_app-bar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Minor theme changes (#123)
  _config.yml
  dev-server.js
  theme/napari/layout.html
  theme/napari/static/favicon.ico
Due: yarn prettier:fix

deploy: a53549d722784a8371cc3514697cbb3639ca9bb4
  _images/image_19_0.png
  _images/image_30_0.png
  _images/image_34_0.png
  _images/image_6_0.png
  _images/labels_6_0.png
  _images/magicgui_12_0.png
  _images/magicgui_15_0.png
  _images/magicgui_18_0.png
  _images/magicgui_1_0.png
  _images/magicgui_5_0.png
  _images/magicgui_9_0.png
  _images/points_24_0.png
  _images/points_29_0.png
  _images/points_6_0.png
  _images/shapes_6_0.png
  _images/surface_6_0.png
  _images/template-page_5_0.png
  _images/vectors_6_0.png
  _images/viewer_10_0.png
  _images/viewer_29_0.png
  _images/viewer_38_0.png
  _images/viewer_47_0.png
  _sources/guides/stable/magicgui.ipynb
  reports/image.log
  reports/shapes.log
  searchindex.js
  tutorials/fundamentals/image.html
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/vectors.html
  tutorials/fundamentals/viewer.html
Due: none

Make font responsive to viewport
  theme/scss/_app-bar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Swap napari.png for napari.svg
  theme/napari/app-bar.html
  theme/napari/static/napari.png
  theme/napari/static/napari.svg
Due: yarn prettier:fix

Convert sticky header to position: fixed for better compat
  theme/scss/_app-bar.scss
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix scaling for app bar, margins, and image width
  theme/scss/_app-bar.scss
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Adjust clamp values
  theme/scss/_app-bar.scss
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

App Bar and Search components (#122)
  theme/js/main.js
  theme/napari/app-bar.html
  theme/napari/page.html
  theme/napari/static/menu.svg
  theme/napari/static/napari.svg
  theme/napari/static/search.svg
  theme/scss/_app-bar.scss
  theme/scss/_breakpoints.scss
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

deploy: 7a3595a57bbe6a8e22c32c882be056a157c356e7
  _images/image_30_0.png
  _images/magicgui_12_0.png
  _images/magicgui_15_0.png
  _images/magicgui_18_0.png
  _images/magicgui_1_0.png
  _images/magicgui_5_0.png
  _images/magicgui_9_0.png
  _images/points_24_0.png
  _images/points_29_0.png
  _images/points_6_0.png
  _images/shapes_6_0.png
  _images/viewer_10_0.png
  _images/viewer_29_0.png
  _images/viewer_38_0.png
  _images/viewer_47_0.png
  _modules/magicgui/_magicgui.html
  _sources/guides/stable/magicgui.ipynb
  api/stable/napari.plugins.html
  reports/points.log
  reports/shapes.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/vectors.html
  tutorials/fundamentals/viewer.html
Due: none

Add comment about app bar col margin
  theme/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: 587aa6b9a0a01bb980b5b5a0f2deb552d793df10
  _images/image_30_0.png
  _images/magicgui_12_0.png
  _images/magicgui_15_0.png
  _images/magicgui_18_0.png
  _images/magicgui_1_0.png
  _images/magicgui_5_0.png
  _images/magicgui_9_0.png
  _images/points_24_0.png
  _images/points_29_0.png
  _images/points_6_0.png
  _images/shapes_6_0.png
  _images/viewer_10_0.png
  _images/viewer_29_0.png
  _images/viewer_38_0.png
  _images/viewer_47_0.png
  _sources/guides/stable/magicgui.ipynb
  guides/stable/magicgui.html
  reports/magicgui.log
  reports/points.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/vectors.html
  tutorials/fundamentals/viewer.html
Due: none

update docs
  _toc.yml
  community/team.md
  developers/benchmarks.md
  developers/contributing.md
  developers/testing.md
  guides/stable/index.md
  guides/stable/translations.md
  images/tests.png
Due: none

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
