Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Copied icons from napari-hub
  theme/src/components/icons/Close.tsx
  theme/src/components/icons/GitHub.tsx
  theme/src/components/icons/Menu.tsx
  theme/src/components/icons/NapariLogo.tsx
  theme/src/components/icons/Search.tsx
  theme/src/components/icons/Twitter.tsx
  theme/src/components/icons/icons.type.ts
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

Update configuration to support Material UI
  .babelrc.js
  next.config.js
  tailwind.config.js
  theme/src/breakpoints.json
  theme/src/components/media.tsx
  theme/src/theme.js
  tsconfig.json
Due: yarn prettier:fix, yarn lint:js --fix

Added packages required for app bar
  package.json
  yarn.lock
Due: none

Setup barlow font for entire site
  pages/_app.tsx
  pages/_document.tsx
  theme/src/scss/global.scss
  theme/src/scss/main.scss
  theme/src/scss/utils.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix Next.js links not working
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Page title for every page
  pages/[[...parts]].tsx
Due: none

Copy napari hub AppBar, Link, MenuDrawer, and SearchInput components
  theme/src/components/AppBar.tsx
  theme/src/components/Link.tsx
  theme/src/components/MenuDrawer.tsx
  theme/src/components/SearchInput.tsx
  theme/src/types.ts
Due: yarn prettier:fix

Fix content grid alignment
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

ApplicationProvider component
  pages/_app.tsx
  theme/src/components/ApplicationProvider.tsx
Due: yarn prettier:fix

Remove old app bar code
  theme/napari/app-bar.html
  theme/napari/static/menu.svg
  theme/napari/static/napari.svg
  theme/napari/static/search.svg
  theme/src/scss/_app-bar.scss
  theme/src/scss/_breakpoints.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Update theme/src/components/SearchInput.tsx
  theme/src/components/SearchInput.tsx
Due: yarn prettier:fix

napari theme App Bar (#153)
  .babelrc.js
  next.config.js
  package.json
  pages/[[...parts]].tsx
  pages/_app.tsx
  pages/_document.tsx
  tailwind.config.js
  theme/napari/app-bar.html
  theme/napari/static/menu.svg
  theme/napari/static/napari.svg
  theme/napari/static/search.svg
  theme/src/breakpoints.json
  theme/src/components/App/App.tsx
  theme/src/components/AppBar.tsx
  theme/src/components/ApplicationProvider.tsx
  theme/src/components/Link.tsx
  theme/src/components/MenuDrawer.tsx
  theme/src/components/SearchInput.tsx
  theme/src/components/icons/Close.tsx
  theme/src/components/icons/GitHub.tsx
  theme/src/components/icons/Menu.tsx
  theme/src/components/icons/NapariLogo.tsx
  theme/src/components/icons/Search.tsx
  theme/src/components/icons/Twitter.tsx
  theme/src/components/icons/icons.type.ts
  theme/src/components/icons/index.ts
  theme/src/components/media.tsx
  theme/src/context/jupyterBook.tsx
  theme/src/scss/_app-bar.scss
  theme/src/scss/_breakpoints.scss
  theme/src/scss/global.scss
  theme/src/scss/main.scss
  theme/src/scss/utils.scss
  theme/src/theme.js
  theme/src/types.ts
  theme/src/utils/ssg.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Render links in mobile global TOC
  theme/src/components/AppBar.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Support icons in MenuDrawer
  theme/src/components/MenuDrawer.tsx
  theme/src/types.ts
Due: yarn prettier:fix

ExternalLink icon
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

Rename function for consistency
  theme/src/components/AppBar.tsx
Due: yarn prettier:fix

Add information about add method and add_<shape_type> methods (#142)
  tutorials/fundamentals/shapes.md
Due: none

Added postcss-strip-units package
  package.json
  postcss.config.js
  yarn.lock
Due: none

Refactored MenuDrawer into MenuPopover
  theme/src/components/MenuPopover/MenuPopover.module.scss
  theme/src/components/MenuPopover/MenuPopover.module.scss.d.ts
  theme/src/components/MenuPopover/MenuPopover.tsx
  theme/src/components/MenuPopover/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Refactor AppBar to use MenuPopover
  theme/src/components/AppBar/AppBar.module.scss
  theme/src/components/AppBar/AppBar.module.scss.d.ts
  theme/src/components/AppBar/AppBar.tsx
  theme/src/components/AppBar/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

update workflow to use theme
  .github/workflows/deploy.yml
Due: none

uncomment napari theme install
  .github/workflows/deploy.yml
Due: none

Use faster duration for exit grow animation
  theme/src/components/MenuPopover/MenuPopover.tsx
Due: yarn prettier:fix

enable napari theme
  .github/workflows/deploy.yml
  _config.yml
Due: none

enable napari theme
  .github/workflows/deploy.yml
Due: none

update build process
  .github/workflows/deploy.yml
Due: none

Fix a11y using transitionDuration
  theme/src/components/MenuPopover/MenuPopover.tsx
Due: yarn prettier:fix

napari theme Mobile Global TOC (#155)
  package.json
  postcss.config.js
  theme/src/components/AppBar/AppBar.module.scss
  theme/src/components/AppBar/AppBar.module.scss.d.ts
  theme/src/components/AppBar/AppBar.tsx
  theme/src/components/AppBar/index.ts
  theme/src/components/MenuPopover/MenuPopover.module.scss
  theme/src/components/MenuPopover/MenuPopover.module.scss.d.ts
  theme/src/components/MenuPopover/MenuPopover.tsx
  theme/src/components/MenuPopover/index.ts
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/index.ts
  theme/src/types.ts
  theme/src/utils/ssg.ts
  yarn.lock
Due: yarn prettier:fix, yarn lint:scss --fix

Added glob package
  package.json
  yarn.lock
Due: none

Update next:remove-extra-files script
  package.json
Due: none

Script for fixing HTML file exports
  package.json
  pages/[[...parts]].tsx
  scripts/fix-dist-file-names.ts
Due: none

Fix link pre-fetching (#154)
  package.json
  pages/[[...parts]].tsx
  scripts/fix-dist-file-names.ts
  yarn.lock
Due: none

Move isExternalUrl to util
  theme/src/components/AppBar/AppBar.tsx
  theme/src/utils/url.ts
Due: yarn prettier:fix

Fix issue with page TOC not working on mobile
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Remove TOC onClick prop
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Script for cleaning .next dir
  package.json
Due: none

Fix expansion animations
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Use GlobalTableOfContents component in App
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Consolidate Global and Page header interfaces
  theme/src/components/TableOfContents/TableOfContents.hooks.ts
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Extract global TOC from index.html
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
