Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

.lintstagedrc.yml:

'theme/**/*':
  - yarn prettier:fix
'theme/**/*.js':
  - yarn lint:js --fix
'theme/**/*.scss':
  - yarn lint:scss --fix

Update tutorials/fundamentals/installation.md
  tutorials/fundamentals/installation.md
Due: none

Update installation guide to match how-to template (#184)
  tutorials/fundamentals/installation.md
Due: none

.lycheeignore file for broken link checker exclude list (#294)
  .lycheeignore
Due: none

Theme download button (#295)
  package.json
  scripts/copy-public-files.ts
  theme/napari/page.html
  theme/src/components/App/App.tsx
  theme/src/components/DownloadButton/DownloadButton.module.scss
  theme/src/components/DownloadButton/DownloadButton.module.scss.d.ts
  theme/src/components/DownloadButton/DownloadButton.tsx
  theme/src/components/DownloadButton/index.ts
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/icons/Download.tsx
  theme/src/components/icons/index.ts
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
  yarn.lock
Due: yarn prettier:fix, yarn lint:scss --fix

Ignore glob patterns need double asterisks
  .lycheeignore
Due: none

Ignore glob patterns need double asterisks (#297)
  .lycheeignore
Due: none

Organize files and ToC according to new docs structure.
  _config.yml
  _toc.yml
  howtos/connecting_events.md
  howtos/docker.md
  howtos/index.md
  howtos/napari_imageJ.md
  howtos/perfmon.md
  index.md
  tutorials/index.md
  tutorials/segmentation/annotate_segmentation.md
  tutorials/segmentation/index.md
  tutorials/start_index.md
  tutorials/tracking/cell_tracking.md
  tutorials/tracking/index.md
Due: none

adds napari survey info
  index.md
Due: none

adds napari survey info (#300)
  index.md
Due: none

update doc sources autogenerated from napari/napari@d6d0b9f0faad21fe7c2827d16eeb318f0b200b26
  _toc.yml
  developers/contributing.md
  developers/translations.md
  guides/stable/3D_interactivity.md
  guides/stable/contexts_expressions.md
  guides/stable/event_loop.md
  guides/stable/index.md
  guides/stable/magicgui.md
  howtos/connecting_events.md
  howtos/docker.md
  howtos/index.md
  howtos/napari_imageJ.md
  howtos/perfmon.md
  plugins/stable/best_practices.md
  plugins/stable/index.md
Due: none

Including recently added files
  guides/stable/_layer_events.md
  guides/stable/_viewer_events.md
  guides/stable/preferences.md
Due: none

Add glossary file to contents
  glossary.md
Due: none

Custom Checkbox icon
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/components/icons/Checkbox.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

Calendar component
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarNavigation.tsx
  theme/src/components/Calendar/CalendarTile.tsx
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/components/Calendar/context.tsx
  theme/src/components/Calendar/index.ts
  theme/src/components/Calendar/types.ts
  theme/src/scss/_calendar.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Render Calendar component in DOM
  community/team.md
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Added valtio package
  package.json
  yarn.lock
Due: none

Added react-calendar and dayjs packages
  package.json
  yarn.lock
Due: none

Fix filters not showing on wide view
  theme/src/components/Calendar/CalenderFilter.tsx
Due: yarn prettier:fix

Setup Google Calendar API integration
  next.config.js
  package.json
  theme/src/components/Calendar/context.tsx
  theme/src/components/Calendar/gapi.ts
  theme/src/components/Calendar/useFetchCalendarEvents.ts
  theme/src/hooks/useConstant.ts
  yarn.lock
Due: yarn prettier:fix

Use month/day key for calendar event data
  theme/src/components/Calendar/CalendarTile.tsx
  theme/src/components/Calendar/CalendarWeekView.tsx
  theme/src/components/Calendar/context.tsx
  theme/src/components/Calendar/types.ts
  theme/src/components/Calendar/utils.ts
Due: yarn prettier:fix

Fix rendering events in next/previous months
  theme/src/components/Calendar/CalendarTile.tsx
Due: yarn prettier:fix

Fetch events only when months change
  theme/src/components/Calendar/useFetchCalendarEvents.ts
Due: yarn prettier:fix

Calendar week view
  pages/_app.tsx
  theme/src/components/Calendar/Calendar.module.scss
  theme/src/components/Calendar/Calendar.module.scss.d.ts
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/components/Calendar/CalendarNavigation.tsx
  theme/src/components/Calendar/CalendarTile.tsx
  theme/src/components/Calendar/CalendarWeekView.tsx
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/components/Calendar/context.tsx
  theme/src/components/Calendar/utils.ts
  theme/src/scss/utils.scss
  theme/src/theme.js
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Fix filter alignment for week view
  theme/src/components/Calendar/CalenderFilter.tsx
Due: yarn prettier:fix

Add locale support
  pages/_app.tsx
  theme/src/components/ApplicationProvider.tsx
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarEventButton.tsx
  theme/src/components/Calendar/CalendarEventPopup.tsx
  theme/src/components/Calendar/CalendarFooter.tsx
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/components/Calendar/constants.ts
  theme/src/hooks/useDayjsLocaleReady.ts
  theme/src/scss/_calendar.scss
  theme/src/utils/setupDayjsPlugins.ts
  yarn.lock
Due: yarn prettier:fix, yarn lint:scss --fix

Fetch recurrence rule in event popup
  package.json
  theme/src/components/Calendar/CalendarEventPopup.tsx
  theme/src/components/Calendar/gapi.ts
  theme/src/components/Calendar/types.ts
  yarn.lock
Due: yarn prettier:fix

Popup component
  theme/src/components/Popup/Popup.module.scss
  theme/src/components/Popup/Popup.module.scss.d.ts
  theme/src/components/Popup/Popup.tsx
  theme/src/components/Popup/index.ts
  theme/src/components/icons/PopupArrow.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Fix issues with Google Calendar API integration
  theme/src/components/Calendar/gapi.ts
Due: yarn prettier:fix

Implement calendar popup
  package.json
  theme/src/components/Calendar/Calendar.module.scss
  theme/src/components/Calendar/Calendar.module.scss.d.ts
  theme/src/components/Calendar/CalendarEventButton.tsx
  theme/src/components/Calendar/CalendarEventPopup.tsx
  theme/src/components/Calendar/CalendarTile.tsx
  theme/src/components/Calendar/CalendarWeekView.tsx
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/components/Calendar/constants.ts
  theme/src/components/Calendar/context.tsx
  theme/src/components/Calendar/gapi.ts
  theme/src/components/Calendar/types.ts
  theme/src/scss/_calendar.scss
  yarn.lock
Due: yarn prettier:fix, yarn lint:scss --fix

Hide calendar i18n behind feature flag
  .github/workflows/deploy.yml
  next.config.js
  pages/[[...parts]].tsx
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/constants/env.ts
  theme/src/hooks/useDayjsLocaleReady.ts
  theme/src/utils/featureFlags.ts
Due: yarn prettier:fix

Fix build errors
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix overflow and metadata order
  theme/src/components/Calendar/CalendarEventPopup.tsx
Due: yarn prettier:fix
