Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

.lintstagedrc.yml:

'theme/**/*':
  - yarn prettier:fix
'theme/**/*.js':
  - yarn lint:js --fix
'theme/**/*.scss':
  - yarn lint:scss --fix

Use $min-font-size in global.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix styling for grid TOC
  theme/src/components/GridTableOfContents.tsx
  theme/src/components/GridTableOfContents/GridTableOfContents.module.scss
  theme/src/components/GridTableOfContents/GridTableOfContents.module.scss.d.ts
  theme/src/components/GridTableOfContents/GridTableOfContents.tsx
  theme/src/components/GridTableOfContents/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Rename GridTableOfContents to QuickLinks
  theme/src/components/App/App.tsx
  theme/src/components/QuickLinks.tsx
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

Remove demo data
  index.md
Due: none

Fix quick links grid gap
  theme/src/components/QuickLinks.tsx
Due: yarn prettier:fix

`metaDescription` config for setting meta description tag
  theme/src/components/App/App.tsx
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

Inline code styling copied from napari hub
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix _modules link on API references
  theme/src/utils/jupyterBook.ts
Due: yarn prettier:fix

Add custom Pygments code theme
  .prettierignore
  _config.yml
  package.json
  pages/_document.tsx
  theme/napari_code_theme.py
Due: yarn prettier:fix

Load scripts and stylesheets from HTML file
  package.json
  pages/[[...parts]].tsx
  pages/_document.tsx
  scripts/copy-public-files.ts
  theme/napari/page.html
  theme/src/components/App/App.tsx
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Fix styling for copy button
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix docs deployment
  .github/workflows/deploy.yml
Due: none

add footer
  theme/src/components/App/App.tsx
  theme/src/components/Footer.tsx
  theme/src/components/icons/GitHub.tsx
  theme/src/components/icons/ImageSC.tsx
  theme/src/components/icons/Twitter.tsx
  theme/src/components/icons/Zulip.tsx
  theme/src/components/icons/icons.type.ts
  theme/src/components/icons/index.ts
  theme/src/theme.js
Due: yarn prettier:fix, yarn lint:js --fix

Add comments
  scripts/copy-public-files.ts
  theme/src/components/App/App.tsx
  theme/src/context/jupyterBook.tsx
  theme/src/utils/jupyterBook.ts
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Fix theme colors to be a11y friendly
  theme/napari_code_theme.py
Due: yarn prettier:fix

Fix sphinx script loading for pages transitions
  theme/src/components/Link.tsx
Due: yarn prettier:fix

rename IconPropsColor -> IconColorProps
  theme/src/components/Footer.tsx
  theme/src/components/icons/GitHub.tsx
  theme/src/components/icons/ImageSC.tsx
  theme/src/components/icons/Twitter.tsx
  theme/src/components/icons/Zulip.tsx
  theme/src/components/icons/icons.type.ts
Due: yarn prettier:fix

make imagesc icon bigger as according to designs
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

change breakpoint 450->495
  theme/src/components/Footer.tsx
  theme/src/theme.js
Due: yarn prettier:fix, yarn lint:js --fix

make footer always go to bottom of page
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

fix footer links
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

Use IconColorProps from #170
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/icons.type.ts
Due: yarn prettier:fix

Landing page quick links (#168)
  theme/src/components/App/App.tsx
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/QuickLinks.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss.d.ts
  theme/src/components/TableOfContents/index.ts
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/icons.type.ts
  theme/src/context/jupyterBook.tsx
  theme/src/scss/global.scss
  theme/src/scss/utils.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Theme fixes and more (#169)
  .prettierignore
  _config.yml
  package.json
  pages/[[...parts]].tsx
  scripts/copy-public-files.ts
  theme/napari/page.html
  theme/napari_code_theme.py
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.tsx
  theme/src/components/Link.tsx
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/icons.type.ts
  theme/src/context/jupyterBook.tsx
  theme/src/utils/jupyterBook.ts
  theme/src/utils/ssg.ts
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: 15cab12c67d34c8532c425bc3cdbaeb158b60753
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/labels.log
  reports/vectors.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

add napari hub logo
  theme/src/components/Footer.tsx
  theme/src/components/icons/NapariHub.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

follow design scaling more faithfully
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

Update README
  README.md
Due: none

Updated README patches
  README.md
Due: none

deploy: e68c4c9e64bb3c1b6595f8cfc51d00c25f6e3e67
  README.html
  _sources/README.md
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/index.log
  reports/points.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

deploy: 47eccc7f470bca5027a5fe155c2631aef3156fe6
  README.html
  _sources/README.md
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/index.log
  reports/labels.log
  reports/shapes.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

make code less complex
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

add styling for admonitions (#166)
  theme/src/scss/_admonitions.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: bd4bd0b86261ca610dbc43a09ef926e5c1697404
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Add Jupyter book stylesheets to page template
  theme/napari/page.html
Due: yarn prettier:fix

Ignore dark pygments css
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Fix styling for generated python cells and click-to-show button
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

add footer (#170)
  theme/src/components/App/App.tsx
  theme/src/components/Footer.tsx
  theme/src/components/icons/GitHub.tsx
  theme/src/components/icons/ImageSC.tsx
  theme/src/components/icons/NapariHub.tsx
  theme/src/components/icons/Twitter.tsx
  theme/src/components/icons/Zulip.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix
