Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Removes webkit scrollbar styles (#200)
  theme/src/scss/_scrollbar.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Enable theme deployment in deploy workflow
  .github/workflows/deploy.yml
Due: none

Enable theme in Jupyter Book configration
  _config.yml
Due: none

Add quick links data
  index.md
Due: none

ChevronUp and ChevronDown icons
  theme/src/components/icons/ChevronDown.tsx
  theme/src/components/icons/ChevronUp.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

Use collapsible TOC for screens <1150px
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Added `collapsible` variant to TableOfContents component
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Remove duplicate TOC from index pages
  community/index.md
  developers/index.md
  release/index.md
  roadmaps/index.md
  tutorials/applications/index.md
  tutorials/fundamentals/index.md
Due: none

Collapse for <1425px screens
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Fix links in index.md
  index.md
Due: none

Update TOC design for smaller screens (#202)
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/components/icons/ChevronDown.tsx
  theme/src/components/icons/ChevronUp.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix

Remove silly semicolon
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

deploy: 7553aa19f53caeb525d6ce1ea4267bf80113fca3
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/labels.log
  reports/points.log
  reports/surface.log
  searchindex.js
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
Due: none

Fix links in index.md (#203)
  index.md
Due: none

deploy: 8a6cb3277b8362f74a0b003824926f29dbf78b20
  _sources/guides/stable/magicgui.ipynb
  _sources/index.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  index.html
  reports/labels.log
  reports/points.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
Due: none

add overflow handling for admonitions
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

keep padding when overflowing
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Add 'Preparing your notebook' tutorial and images
  developers/contributing_pairing_notebooks.md
  developers/images/jupyter_cell_tags.png
  developers/images/jupyter_jupytext.png
Due: none

Add remaining content...
  developers/contributing_pairing_notebooks.md
Due: none

Make guide executable
  developers/contributing_how_tos.md
Due: none

TOC fixes
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Fix TOC stickiness
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Remove extra headers for API reference page
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/SubPageTableOfContents.tsx
  theme/src/constants/toc.ts
Due: yarn prettier:fix

update doc sources autogenerated from napari/napari@faa947d862bf9c2c3cbe3f5444c6fd433fd91ecc
  community/code_of_conduct.md
  community/governance.md
  release/release_0_3_0.md
  release/release_0_3_5.md
  release/release_0_4_3.md
  roadmaps/0_3_retrospective.md
  roadmaps/0_4.md
Due: none

Update documentation for theme
  README.md
  theme/README.md
  theme/images/page-customization/intro.png
  theme/images/page-customization/meta-description.png
  theme/images/page-customization/quick-links.png
Due: yarn prettier:fix

Fix headings in connecting_events.md
  guides/stable/connecting_events.md
Due: none

update doc sources autogenerated from napari/napari@c65ab65d59ef3e95a0848a85c5577841f39832b5
  plugins/stable/find-and-install-plugin.md
Due: none

ddmonition overflow (#205)
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: 519762e1033d0c56a8ac21c7b923c6cf1bc3f41f
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Lychee command line flags changed with lychee version
  .github/workflows/link-checker.yml
Due: none

Lychee command line flags changed with lychee version (#267)
  .github/workflows/link-checker.yml
Due: none

deploy: be7cb5e20591f22130f97b29cbb8eba66366cb26
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/labels.log
  reports/magicgui.log
  reports/points.log
  reports/shapes.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Updates after review
  tutorials/fundamentals/installation.md
Due: none

update doc sources autogenerated from napari/napari@decb3f0124743290c6e4d89cc1253df8bf92b85b
  _toc.yml
  release/release_0_4_12.md
Due: none

Fix styling for admonition toggle buttons
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
