Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Comment about inline badge CSS
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Update getGlobalHeaders() comments
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

update doc sources autogenerated from napari/napari@511db6e4fb16a6188754ae4ba94a17d2ecaab0da
  release/release_0_4_11.md
Due: none

Update requirements.txt
  requirements.txt
Due: none

deploy: d4c9702cb463580e6274721e5e66a24ae2138266
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_4_11.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  release/release_0_4_11.html
  reports/labels.log
  reports/points.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

deploy: 1f4fe23c91742d305ede20b6a909098f50806771
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/labels.log
  reports/points.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

deploy: 887653947452296944b3c8f1f71c909d8278b8bb
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/points.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/shapes.html
  tutorials/index.html
Due: none

deploy: 90baebd996935c3f608ce9037ff7692b37bccbed
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/labels.log
  reports/points.log
  reports/viewer.log
  tutorials/fundamentals/shapes.html
  tutorials/index.html
Due: none

deploy: dab7821e2202d86ebdf9ffc4a440e4122ea59cab
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/points.log
  reports/surface.log
  reports/vectors.log
  searchindex.js
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
Due: none

Remove duplicate CSS import
  theme/src/scss/main.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Setup fresnel for SSG friendly media queries
  package.json
  scripts/pre-render.ts
  scripts/renderAppToString.d.ts
  tailwind.config.js
  theme/napari/page.html
  theme/src/breakpoints.json
  theme/src/components/App/App.tsx
  theme/src/components/media.tsx
  theme/src/constants/env.ts
  theme/src/main.tsx
  theme/src/renderAppToString.tsx
  yarn.lock
Due: yarn prettier:fix

Table of Contents component
  theme/src/components/TableOfContents/TableOfContents.constants.ts
  theme/src/components/TableOfContents/TableOfContents.hooks.ts
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
Due: yarn prettier:fix

Prevent re-render for jupyter book context
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

Use hydrate for prod and render for dev
  theme/src/main.tsx
Due: yarn prettier:fix

Added comments
  theme/src/components/App/App.tsx
  theme/src/main.tsx
Due: yarn prettier:fix

Added in-page table of contents
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Extract page title from HTML
  scripts/pre-render.ts
  theme/src/components/App/App.tsx
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

update doc sources autogenerated from napari/napari@79a6b8c73812f5dacec79b3f1610448baed5b340
  release/release_0_4_11.md
Due: none

Fix headers on events guide
  guides/stable/connecting_events.md
Due: none

deploy: c01a3494e063094387e5a72c3336ca0a13305764
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_4_11.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  release/release_0_4_11.html
  reports/shapes.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/surface.html
Due: none

update doc sources autogenerated from napari/napari@35d196f66cebb4455b4162685e0ad4519b6bb36d
  release/release_0_4_11.md
Due: none

deploy: 703cb10f2b9bf621d71317719080b472b6c2be01
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_4_11.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  release/release_0_4_11.html
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Page table of contents (#150)
  package.json
  scripts/pre-render.ts
  scripts/renderAppToString.d.ts
  tailwind.config.js
  theme/napari/page.html
  theme/src/breakpoints.json
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/TableOfContents.constants.ts
  theme/src/components/TableOfContents/TableOfContents.hooks.ts
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
  theme/src/components/media.tsx
  theme/src/constants/env.ts
  theme/src/context/jupyterBook.tsx
  theme/src/main.tsx
  theme/src/renderAppToString.tsx
  theme/src/scss/main.scss
  yarn.lock
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: 34adcdb0455f5949d4c77bcae238b32d8482c143
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/shapes.log
  reports/surface.log
  searchindex.js
  tutorials/fundamentals/shapes.html
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Fix headers on events guide (#151)
  guides/stable/connecting_events.md
Due: none

update doc sources autogenerated from napari/napari@37d476bc0b00252177f17f25e7d1fd52ddc4bb69
  guides/stable/connecting_events.md
Due: none

update doc sources autogenerated from napari/napari@b233a83f45a14aba3cc0d0694d5b7acb8d4dcee0
  community/code_of_conduct.md
  developers/benchmarks.md
  developers/contributing.md
  developers/release.md
  guides/stable/3D_interactivity.md
  guides/stable/connecting_events.md
  guides/stable/perfmon.md
  guides/stable/performance.md
  release/generate_release_notes.py
  release/release_0_2_11.md
  roadmaps/0_3.md
Due: none

Added next.js and removed unused packages
  package.json
  yarn.lock
Due: none

Update configurations to support Next.js
  .eslintrc.js
  .gitignore
  _config.yml
  next-env.d.ts
  package.json
  tsconfig.types.json
  vite.config.js
Due: none

Update dev-server to start Next.js dev server
  scripts/dev-server.ts
  theme/src/utils/jupyterBook.ts
Due: yarn prettier:fix

Setup pre-rendering using next.js
  pages/[[...parts]].tsx
  pages/_app.tsx
  pages/_document.tsx
  scripts/pre-render.ts
  scripts/renderAppToString.d.ts
  theme/src/components/App/App.tsx
  theme/src/main.tsx
  theme/src/renderAppToString.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Update workflows after GitHub renamed our branch to main using --force
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Fix copying public files for images
  package.json
  scripts/copy-public-files.ts
  scripts/dev-server.ts
Due: none

Re-disable napari theme
  _config.yml
Due: none

Remove vite refresh plugin
  package.json
  yarn.lock
Due: none

Added next.js lint plugin
  eslint/typescript.js
  package.json
  yarn.lock
Due: none

Use Next.js for pre-rendering (#152)
  .eslintrc.js
  .gitignore
  _config.yml
  eslint/typescript.js
  next-env.d.ts
  package.json
  pages/[[...parts]].tsx
  pages/_app.tsx
  pages/_document.tsx
  scripts/copy-public-files.ts
  scripts/dev-server.ts
  scripts/pre-render.ts
  scripts/renderAppToString.d.ts
  theme/src/components/App/App.tsx
  theme/src/main.tsx
  theme/src/renderAppToString.tsx
  theme/src/utils/jupyterBook.ts
  theme/src/utils/ssg.ts
  tsconfig.types.json
  vite.config.js
  yarn.lock
Due: yarn prettier:fix

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
