Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

deploy: b1e86c57dc6a382b500518eddbe60efef2ee3921
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/index.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Comments
  theme/napari/page.html
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix click-to-show (#179)
  theme/napari/page.html
  theme/src/components/App/App.module.scss
  theme/src/utils/ssg.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Add draft how-to guide
  developers/contributing_how_tos.md
Due: none

Update links to napari.github.io repository
  tutorials/applications/annotate_points.md
  tutorials/index.md
Due: none

Add page with list to napari talks & workshops
  _toc.yml
  tutorials/further-resources/napari-workshops.md
Due: none

Add Talley's keynote from CZI imagging scientists meeting 2021
  tutorials/further-resources/napari-workshops.md
Due: none

Add SciPy 2021 napari workshop information
  tutorials/further-resources/napari-workshops.md
Due: none

Update installation guide to match how-to template
  tutorials/fundamentals/installation.md
Due: none

Check for broken links with lychee, once a week
  .github/workflows/link-checker.yml
Due: none

Fix heading links for API references
  tailwind.config.js
  theme/src/components/App/App.module.scss
  theme/src/theme.js
  theme/src/utils/ssg.ts
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Add tooltips for truncated global TOC items
  theme/src/components/App/App.tsx
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/Link.tsx
Due: yarn prettier:fix

Fix content spacing for titles and rulers
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

Improve styling for API reference page
  .stylelintrc.yml
  theme/src/components/App/App.module.scss
  theme/src/components/App/apiReference.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix links for sub-page TOC items
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Dev server build hash
  package.json
  scripts/dev-server.ts
  yarn.lock
Due: none

Removed floating promises eslint issues
  scripts/dev-server.ts
Due: none

Fix typo lol
  scripts/dev-server.ts
Due: none

Dev server build hash (#190)
  package.json
  scripts/dev-server.ts
  yarn.lock
Due: none

Remove talk information - this will get out of date too quickly
  tutorials/further-resources/napari-workshops.md
Due: none

Add Alister & Kevin's workshop materials
  tutorials/further-resources/napari-workshops.md
Due: none

Add link to napari youtube channel
  tutorials/further-resources/napari-workshops.md
Due: none

Bug bash - High priority bug fixes (#187)
  .stylelintrc.yml
  tailwind.config.js
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.tsx
  theme/src/components/App/apiReference.scss
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/Link.tsx
  theme/src/theme.js
  theme/src/utils/ssg.ts
Due: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Allow overflow-x for page content
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Make all external links open in a new tab
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Enable scrollbar by default to ensure consistent page widths
  theme/src/scss/_scrollbar.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix styling for ungrouped h2 headings
  theme/src/components/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Fix TOC scrolling for already clicked links
  theme/src/components/TableOfContents/TableOfContents.tsx
Due: yarn prettier:fix

Bug bash - Medium priority bug fixes (#189)
  theme/src/components/App/App.tsx
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/scss/_scrollbar.scss
  theme/src/scss/global.scss
  theme/src/utils/ssg.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Use vertical layout for API reference tables on small screens
  theme/src/components/App/apiReference.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Remove padding in between class names
  theme/src/components/App/apiReference.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Increase page title line height
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Increase spacing for global TOC h1 items
  theme/src/components/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Adds top margin for quick links
  theme/src/components/App/App.tsx
  theme/src/components/QuickLinks.tsx
Due: yarn prettier:fix

Trim whitespaces from search query
  theme/src/components/SearchInput.tsx
Due: yarn prettier:fix

Remove bold on hover for global TOC h1 items
  theme/src/components/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Change content text color to black
  theme/src/components/App/App.module.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
