Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

Added copy to calendar buttons
  theme/src/components/App/App.tsx
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarEventPopup.tsx
  theme/src/components/Calendar/CopyCalendarButton.tsx
  theme/src/components/Calendar/gapi.ts
  theme/src/components/Calendar/types.ts
Due: yarn prettier:fix

Pass Google Calendar secrets in deploy workflow
  .github/workflows/deploy.yml
Due: none

Fix stylelint errors
  theme/src/components/App/apiReference.scss
  theme/src/components/DownloadButton/DownloadButton.module.scss
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix eslint error
  theme/src/components/Calendar/CalendarEventPopup.tsx
Due: yarn prettier:fix

ToC reorganization, part 2 (#299)
  _config.yml
  _toc.yml
  glossary.md
  guides/stable/_layer_events.md
  guides/stable/_viewer_events.md
  guides/stable/preferences.md
  index.md
  tutorials/applications/napari_imageJ.md
  tutorials/index.md
  tutorials/segmentation/annotate_segmentation.md
  tutorials/segmentation/index.md
  tutorials/start_index.md
  tutorials/tracking/cell_tracking.md
  tutorials/tracking/index.md
Due: none

update doc sources autogenerated from napari/napari@e677fa0d27ae93e9d9d57d3caff86a3553d971c8
  _toc.yml
  guides/stable/_layer_events.md
  guides/stable/_viewer_events.md
  guides/stable/preferences.md
Due: none

update doc sources autogenerated from napari/napari@3714bf5a9eb45c10d3c8e458c457f3606d5fba64
  glossary.md
Due: none

Added Calendar page / fixed styling
  pages/calendar.tsx
  tailwind.config.js
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/components/Calendar/CalendarWeekView.tsx
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Trap focus to calendar popup
  package.json
  theme/src/components/Calendar/CalendarEventButton.tsx
  theme/src/components/Calendar/CalendarEventPopup.tsx
  yarn.lock
Due: yarn prettier:fix

Remove unused popup CSS
  theme/src/components/Popup/Popup.module.scss
  theme/src/components/Popup/Popup.module.scss.d.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Fix stylelint error
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Fix alignment and width of filter popup
  theme/src/components/Calendar/Calendar.module.scss
  theme/src/components/Calendar/Calendar.module.scss.d.ts
  theme/src/components/Calendar/CalenderFilter.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

Fix missing trailing parenthesis
  getting_started/image.md
Due: none

Plural in contrast_limits
  getting_started/image.md
Due: none

Remove fullWidth prop
  pages/calendar.tsx
  theme/src/components/Calendar/Calendar.module.scss
  theme/src/components/Calendar/Calendar.module.scss.d.ts
  theme/src/components/Calendar/Calendar.tsx
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/components/Calendar/CalenderFilter.tsx
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Convert feature flag function to hook
  theme/src/components/Calendar/CalendarMonthView.tsx
  theme/src/hooks/useDayjsLocaleReady.ts
  theme/src/utils/featureFlags.ts
Due: yarn prettier:fix

Disable calendar i18n in dev
  theme/src/utils/featureFlags.ts
Due: yarn prettier:fix

Calendar tile height based on content
  theme/src/scss/_calendar.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Moved calendar to its own page
  community/meeting-schedule.md
  community/team.md
Due: none

Moved calendar to its own page
  _toc.yml
  community/meeting_schedule.md
Due: none

update doc sources autogenerated from napari/napari@c0de593ae0e8ba917a6d11532a6fb14f9933d36d
  _toc.yml
  getting_started/image.md
  guides/stable/_layer_events.md
  guides/stable/_viewer_events.md
  guides/stable/preferences.md
  images/_autogenerated/preferences-appearance.png
  images/_autogenerated/preferences-application.png
  images/_autogenerated/preferences-experimental.png
  images/_autogenerated/preferences-plugins.png
  images/_autogenerated/preferences-reset.png
  images/_autogenerated/preferences-schema_version.png
  images/_autogenerated/preferences-shortcuts.png
Due: none

update doc sources autogenerated from napari/napari@3069f2dcc94a00c9ae4643fd171325ac2afb05dd
  _toc.yml
Due: none

update doc sources autogenerated from napari/napari@ea8c9ab319d8d6d3b854ed70fd0876e4bb276e3e
  _toc.yml
  plugins/stable/for_napari_developers.md
  plugins/stable/for_plugin_developers.md
  plugins/stable/hook_specifications.md
  plugins/stable/index.md
  plugins/stable/npe2_getting_started.md
  plugins/stable/npe2_manifest_specification.md
  plugins/stable/npe2_migration_guide.md
Due: none

Replace 'pyramid' with 'multiscale image' in the docs
  getting_started/image.md
Due: none

update doc sources autogenerated from napari/napari@a9c1c59b30565b1b56cc6293ccd84e9856278df7
  _toc.yml
Due: none

update doc sources autogenerated from napari/napari@0b83ac921445bcbfb059687f56155fd879845d1d
  _toc.yml
  community/meeting_schedule.md
  community/team.md
  plugins/stable/for_napari_developers.md
  plugins/stable/for_plugin_developers.md
  plugins/stable/hook_specifications.md
  plugins/stable/index.md
  plugins/stable/npe2_getting_started.md
  plugins/stable/npe2_manifest_specification.md
  plugins/stable/npe2_migration_guide.md
Due: none

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
