Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

.lintstagedrc.yml:

'theme/**/*':
  - yarn prettier:fix
'theme/**/*.js':
  - yarn lint:js --fix
'theme/**/*.scss':
  - yarn lint:scss --fix

update multiscale references from deprecated is_pyramid parameter (#286)
  tutorials/applications/dask.md
  tutorials/fundamentals/image.md
Due: none

Update developers/documentation/how_to_submit_pr_online.md
  developers/documentation/how_to_submit_pr_online.md
Due: none

Small tweaks after review
  developers/documentation/how_to_submit_pr_online.md
  developers/documentation/index.md
Due: none

Add more content based on review comments
  developers/documentation/docs_template.md
  developers/documentation/index.md
Due: none

Update installation.md
  tutorials/fundamentals/installation.md
Due: none

Update installation.md (#291)
  tutorials/fundamentals/installation.md
Due: none

update doc sources autogenerated from napari/napari@31061cbf7cfe968c84f93e4e72bba9661000fb1f
  _toc.yml
  plugins/stable/best_practices.md
Due: none

ToC reorganization
  _config.yml
  _toc.yml
  howtos_index.md
  index.md
  tutorials/index.md
  tutorials/segmentation/annotate_segmentation.md
  tutorials/segmentation/index.md
  tutorials/start_index.md
  tutorials/tracking/cell_tracking.md
  tutorials/tracking/index.md
Due: none

Answering to reviewer's comments
  _toc.yml
Due: none

Add instructions for using github hosting for images
  developers/documentation/docs_template.md
Due: none

Add current step to hidden screenshot
  developers/documentation/docs_template.md
Due: none

Add brief explanation of each document type and note to not include data
  developers/documentation/docs_template.md
  developers/documentation/index.md
Due: none

Fix link to myst-parser documentation
  ORGANIZATION.md
Due: none

.lycheeignore file for broken link checker exclude list
  .lycheeignore
Due: none

Reword some sentences and rearrange to make the python package options clearer
  tutorials/fundamentals/installation.md
Due: none

Tweak workding agian
  tutorials/fundamentals/installation.md
Due: none

update doc sources autogenerated from napari/napari@a0c123715ba4325bcfd252b171c89e3a7d78a40b
  ORGANIZATION.md
Due: none

Update tutorials/fundamentals/installation.md
  tutorials/fundamentals/installation.md
Due: none

Add link to managing conda envs
  tutorials/fundamentals/installation.md
Due: none

update doc sources autogenerated from napari/napari@c4ec2dce2464b5a9c47f96a13c6534e8b4ff2790
  _templates/autosummary/class.rst
  _templates/autosummary/module.rst
  api/stable/index.rst
  community/code_of_conduct.md
  community/governance.md
  community/mission_and_values.md
  developers/benchmarks.md
  developers/contributing.md
  developers/core_dev_guide.md
  developers/testing.md
  guides/stable/event_loop.md
  guides/stable/index.md
  guides/stable/perfmon.md
  guides/stable/performance.md
  guides/stable/rendering-explanation.md
  guides/stable/threading.md
  plugins/stable/hook_specifications.md
  roadmaps/0_3.md
  roadmaps/0_3_retrospective.md
  roadmaps/0_4.md
Due: none

Get ipynb and md source paths
  scripts/copy-public-files.ts
  theme/napari/page.html
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Added react-use package
  package.json
  yarn.lock
Due: none

Fix tooltip width issue
  theme/src/components/GlobalTableOfContents.tsx
Due: yarn prettier:fix

DownloadButton component
  theme/src/components/DownloadButton/DownloadButton.module.scss
  theme/src/components/DownloadButton/DownloadButton.module.scss.d.ts
  theme/src/components/DownloadButton/DownloadButton.tsx
  theme/src/components/DownloadButton/index.ts
  theme/src/components/icons/Download.tsx
  theme/src/components/icons/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Added DownloadButton to all pages
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Fix _sources not found in prod build
  package.json
Due: none

Hide download button and menu when printed
  theme/src/components/DownloadButton/DownloadButton.module.scss
  theme/src/components/DownloadButton/DownloadButton.module.scss.d.ts
  theme/src/components/DownloadButton/DownloadButton.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

Fix prettier errors
  scripts/copy-public-files.ts
Due: none

Review fixes
  theme/src/components/App/App.tsx
  theme/src/components/DownloadButton/DownloadButton.tsx
Due: yarn prettier:fix
