Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

GlobalTableOfContents component
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss.d.ts
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Use Next.js router for in page internal links
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Fix spacing and text appearance
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Fix type error
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Comments and styling refactor
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Disable links for subsections / expand on section index page
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Fixed highlighting logic for level 2 items
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

Add comments about getPathname()
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
Due: yarn prettier:fix

napari theme Global Table of Contents (#156)
  package.json
  theme/src/components/App/App.tsx
  theme/src/components/AppBar/AppBar.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss.d.ts
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/TableOfContents.hooks.ts
  theme/src/components/TableOfContents/TableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
  theme/src/utils/url.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Remove search page from ignored files
  theme/src/utils/jupyterBook.ts
Due: yarn prettier:fix

Fix styles for search page
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.module.scss.d.ts
  theme/src/components/App/App.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

Extract search page data for pre-rendering
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Use regular links for the search page
  theme/src/components/Link.tsx
Due: yarn prettier:fix

Setup scripts for doc search
  pages/[[...parts]].tsx
  scripts/copy-public-files.ts
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Enable searching from search input
  theme/src/components/SearchInput.tsx
  theme/src/constants/query.ts
Due: yarn prettier:fix

Naming refactors
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Util for creating URLs
  theme/src/components/SearchInput.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/utils/url.ts
Due: yarn prettier:fix

Comments for removed search page nodes
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

Update header spacing
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

napari theme doc search (#159)
  pages/[[...parts]].tsx
  scripts/copy-public-files.ts
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.module.scss.d.ts
  theme/src/components/App/App.tsx
  theme/src/components/Link.tsx
  theme/src/components/SearchInput.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/constants/query.ts
  theme/src/utils/jupyterBook.ts
  theme/src/utils/ssg.ts
  theme/src/utils/url.ts
Due: yarn prettier:fix, yarn lint:scss --fix

Hook for getting the current pathname from the Next.js router
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/hooks/useCurrentPathname.ts
Due: yarn prettier:fix

Move Header enum to constants/toc
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/constants/toc.ts
Due: yarn prettier:fix

CategoryTableOfContents component
  theme/src/components/TableOfContents/CategoryTableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
Due: yarn prettier:fix

Added Category TOC to page
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Table of contents for sub-pages (#160)
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/CategoryTableOfContents.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
  theme/src/constants/toc.ts
  theme/src/hooks/useCurrentPathname.ts
Due: yarn prettier:fix

Add missing changes from sub pages PR (#160)
  theme/src/components/App/App.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/SubPageTableOfContents.tsx
  theme/src/components/TableOfContents/index.ts
  theme/src/constants/toc.ts
Due: yarn prettier:fix

pr test
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Run tests for specific files
  .github/workflows/test.yml
Due: none

Added front-matter package
  package.json
  yarn.lock
Due: none

Render page intro
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Extract front-matter data from Markdown files
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
Due: yarn prettier:fix

add styling for admonitions
  theme/src/scss/_admonitions.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Page intros from Markdown front matter (#162)
  package.json
  theme/src/components/App/App.tsx
  theme/src/context/jupyterBook.tsx
  theme/src/utils/ssg.ts
  yarn.lock
Due: yarn prettier:fix

cleanup code
  theme/src/scss/_admonitions.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix

fix small style typo
  theme/src/scss/_admonitions.scss
Due: yarn prettier:fix, yarn lint:scss --fix

`color` prop for icon
  theme/src/components/icons/ExternalLink.tsx
  theme/src/components/icons/icons.type.ts
Due: yarn prettier:fix

Refactor GridTableOfContents to use icon color prop
  theme/src/components/App/App.tsx
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss
  theme/src/components/TableOfContents/GlobalTableOfContents.module.scss.d.ts
  theme/src/components/TableOfContents/index.ts
Due: yarn prettier:fix, yarn lint:scss --fix

`gridTOC` frontmatter data
  index.md
  theme/src/context/jupyterBook.tsx
Due: yarn prettier:fix

GridTableOfContents component
  theme/src/components/GridTableOfContents/GridTableOfContents.module.scss
  theme/src/components/GridTableOfContents/GridTableOfContents.module.scss.d.ts
  theme/src/components/GridTableOfContents/GridTableOfContents.tsx
  theme/src/components/GridTableOfContents/index.ts
  theme/src/scss/utils.scss
Due: yarn prettier:fix, yarn lint:scss --fix

Use GridTableOfContents in App
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

Path conditions:
  yarn prettier:fix: any of: theme/**/*
  yarn lint:js --fix: any of: theme/**/*.js
  yarn lint:scss --fix: any of: theme/**/*.scss
