Repository napari/napari.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:js --fix, yarn lint:scss --fix

.lintstagedrc.yml:

'theme/**/*':
  - yarn prettier:fix
'theme/**/*.js':
  - yarn lint:js --fix
'theme/**/*.scss':
  - yarn lint:scss --fix

Increase in page TOC spacing
  theme/src/components/App/App.tsx
Due: yarn prettier:fix

deploy: b3c2d4897f0d03e7ff7f69152df0c6224657cd60
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/labels.log
  reports/vectors.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Bug bash - Low priority bug fixes (#191)
  theme/src/components/App/App.module.scss
  theme/src/components/App/App.tsx
  theme/src/components/App/apiReference.scss
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/QuickLinks.tsx
  theme/src/components/SearchInput.tsx
Due: yarn prettier:fix, yarn lint:scss --fix

deploy: f33506f7253b1f506867eaad2acb5988c72e3f9b
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/index.log
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Fix TOCs for API reference page
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/SubPageTableOfContents.tsx
Due: yarn prettier:fix

Fix TOCs for API reference page (#192)
  theme/src/components/GlobalTableOfContents.tsx
  theme/src/components/TableOfContents/SubPageTableOfContents.tsx
Due: yarn prettier:fix

deploy: cdf7a2c9d12bbcc38bb7e37083bb182ae5237f9d
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/surface.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
Due: none

update footer according to new designs
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

remove unnecessary whitespace Q.Q
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

fix napari homepage link
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

update footer according to new designs (#193)
  theme/src/components/Footer.tsx
Due: yarn prettier:fix

Updates from first round of reviews
  developers/contributing_how_tos.md
Due: none

Remove horizontal rule
  developers/contributing_how_tos.md
Due: none

Check for broken links with lychee, once a week (#185)
  .github/workflows/link-checker.yml
Due: none

Fixes image display in the plugin installation tutorial.
  plugins/stable/find-and-install-plugin.md
Due: none

Add link to I2K youtube recording
  tutorials/further-resources/napari-workshops.md
Due: none

Add base url to resolve relative links correctly
  .github/workflows/link-checker.yml
Due: none

Resource list - previous napari workshops (with links to videos & materials) (#183)
  _toc.yml
  tutorials/further-resources/napari-workshops.md
Due: none

Fix some broken links
  community/code_of_conduct.md
  community/governance.md
  release/release_0_3_0.md
  release/release_0_3_5.md
  release/release_0_4_3.md
  roadmaps/0_3_retrospective.md
  roadmaps/0_4.md
  tutorials/fundamentals/image.md
  tutorials/fundamentals/points.md
  tutorials/fundamentals/surface.md
Due: none

Fixes image display in the plugin installation tutorial. (#195)
  plugins/stable/find-and-install-plugin.md
Due: none

Update lychee broken link check
  .github/workflows/link-checker.yml
Due: none

deploy: 194d50b32cd6a77aa0d7645fead811a20d0e1954
  _images/plugin-install-dialog.png
  _images/plugin-menu.png
  _sources/guides/stable/magicgui.ipynb
  _sources/plugins/stable/find-and-install-plugin.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  plugins/stable/find-and-install-plugin.html
  reports/index.log
  reports/magicgui.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

update doc sources autogenerated from napari/napari@3217587ba8cb9080eef5a983c6cd3b0849efafb3
  plugins/stable/find-and-install-plugin.md
Due: none

deploy: 7f9aacb7d069a2cd6df5b43180331d8c5582ab7b
  _images/plugin-install-dialog.png
  _images/plugin-menu.png
  _sources/guides/stable/magicgui.ipynb
  _sources/plugins/stable/find-and-install-plugin.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  plugins/stable/find-and-install-plugin.html
  reports/index.log
  reports/labels.log
  reports/magicgui.log
  reports/points.log
  reports/vectors.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/vectors.html
Due: none

Fix lychee link checker (#198)
  .github/workflows/link-checker.yml
Due: none

Fix some broken links (#197)
  community/code_of_conduct.md
  community/governance.md
  release/release_0_3_0.md
  release/release_0_3_5.md
  release/release_0_4_3.md
  roadmaps/0_3_retrospective.md
  roadmaps/0_4.md
  tutorials/fundamentals/image.md
  tutorials/fundamentals/points.md
  tutorials/fundamentals/surface.md
Due: none

deploy: 5bd6263d7eb4b19465af6dd5e3a97751a3d29c34
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/index.log
  reports/labels.log
  reports/points.log
  reports/shapes.log
  reports/surface.log
  reports/vectors.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

deploy: b3cd97d3171d0a15d1142e0317998ca188a17758
  _sources/community/code_of_conduct.md
  _sources/community/governance.md
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_3_0.md
  _sources/release/release_0_3_5.md
  _sources/release/release_0_4_3.md
  _sources/roadmaps/0_3_retrospective.md
  _sources/roadmaps/0_4.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/image.md
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/points.md
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/surface.md
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  community/code_of_conduct.html
  community/governance.html
  release/release_0_3_0.html
  release/release_0_3_5.html
  release/release_0_4_3.html
  reports/image.log
  reports/labels.log
  reports/surface.log
  roadmaps/0_3_retrospective.html
  roadmaps/0_4.html
  searchindex.js
  tutorials/fundamentals/image.html
  tutorials/fundamentals/labels.html
  tutorials/fundamentals/points.html
  tutorials/fundamentals/surface.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Update links to napari.github.io repository (#182)
  tutorials/applications/annotate_points.md
  tutorials/index.md
Due: none

Prevent 403 forbidden errors from image.sc links
  .github/workflows/link-checker.yml
Due: none

deploy: fe476028e548b62c76d85c51cddfdfebd0e5ba2d
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/applications/annotate_points.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  _sources/tutorials/index.md
  reports/index.log
  reports/labels.log
  reports/points.log
  reports/shapes.log
  searchindex.js
  tutorials/applications/annotate_points.html
  tutorials/fundamentals/vectors.html
  tutorials/index.html
Due: none

Prevent 403 forbidden errors from image.sc links (#199)
  .github/workflows/link-checker.yml
Due: none

deploy: 77a4650bf18e4b5356a56111cbfe6e4967442bef
  _sources/guides/stable/magicgui.ipynb
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  reports/image.log
  reports/labels.log
  reports/surface.log
  reports/vectors.log
  reports/viewer.log
  searchindex.js
  tutorials/fundamentals/vectors.html
Due: none

update doc sources autogenerated from napari/napari@ab7bb40a37dc6d2faa46e1b74f8ca93ed396d7a9
  community/code_of_conduct.md
  community/governance.md
  release/release_0_3_0.md
  release/release_0_3_5.md
  release/release_0_4_3.md
  roadmaps/0_3_retrospective.md
  roadmaps/0_4.md
Due: none

deploy: e267de354b158b11b270821fc8ba424cca109281
  _sources/community/code_of_conduct.md
  _sources/community/governance.md
  _sources/guides/stable/magicgui.ipynb
  _sources/release/release_0_3_0.md
  _sources/release/release_0_3_5.md
  _sources/release/release_0_4_3.md
  _sources/roadmaps/0_3_retrospective.md
  _sources/roadmaps/0_4.md
  _sources/tutorials/fundamentals/image.ipynb
  _sources/tutorials/fundamentals/labels.ipynb
  _sources/tutorials/fundamentals/points.ipynb
  _sources/tutorials/fundamentals/shapes.ipynb
  _sources/tutorials/fundamentals/surface.ipynb
  _sources/tutorials/fundamentals/vectors.ipynb
  _sources/tutorials/fundamentals/viewer.ipynb
  _sources/tutorials/index.ipynb
  community/code_of_conduct.html
  community/governance.html
  release/release_0_3_0.html
  release/release_0_3_5.html
  release/release_0_4_3.html
  reports/image.log
  reports/labels.log
  reports/points.log
  reports/surface.log
  reports/vectors.log
  reports/viewer.log
  roadmaps/0_3_retrospective.html
  roadmaps/0_4.html
Due: none

Removes webkit scrollbar styles
  theme/src/scss/_scrollbar.scss
  theme/src/scss/global.scss
Due: yarn prettier:fix, yarn lint:scss --fix
